@font-face {
    font-family:myFont ;
    src: url(Cmc7.ttf);
}

body{
    background-color: #273549;
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-family: myFont;
    color: white;
    width: 354px;
    height: 80px;
    line-height: 40px;
    letter-spacing: -2.5%;
    margin-left: 30px;

}

span{
    color:#4ADF86 ;
}

p{ 
    font-weight: bold;
    font-size: 1.2em;
    width: 372px;
    height: 28px;
    line-height: 28px;
    color: #D5D4D8;
    margin-top: 40px;
    margin-left:30px ;


}

button{
    background-color: #4ADF86;
    color: white;
    font-size: 1em;
    width: 191px;
    height: 42px;
    padding: 9px 15px 9px 15px;
    margin-top: 30px;
    margin-left: 30px;
    border: none;
    border-radius: 7px;



}

.div-wrapper{
    display: flex;
}

.div-wrapper p{
   
    border-radius: 6px;
    background-color: #4ADF86;
    width: 221px;
    height: 39px;
}